body{
    background-color: rgb(4, 0, 18);
    margin: 0%;
    text-decoration: none;
    font-size: larger;
}

.col-7{
    justify-content: center;
    text-align: center;
    
}


ul{
    display: flex;
    flex-direction:row-reverse;
    /* gap: 3rem; */
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    margin-top: 1rem ;
    margin-right: 2rem;
}

a{
   text-decoration: none;
   color: rgba(255, 255, 255, 0.637);
}

a:hover{
    color: rgb(255, 255, 255);
}

img{
    margin-top: 1rem;
    height: 60px;
}

.about-me{
    border: solid  rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.637);
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap:5rem;
    /* border: solid wheat; */
}


.img-me{
    border-radius: 5rem;
    height: 30rem;
    margin-left: 6rem;
    /* border: solid wheat; */
}



.h1-educacion{
    text-align: center;
    margin-top: 25rem;
    color:  rgba(255, 255, 255, 0.637);
}

.educacion{
    margin-top: 12rem;
    justify-content: center;
    color: rgba(255, 255, 255, 0.637);

    /* border: solid wheat; */
}

.name{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 38ch;

    animation: typing 4s steps(38),
    blink .7s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}    
}
